@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
  font-family: 'Roboto', sans-serif;
}

body{
    background: url("./images/haudiofeel.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.text{
  font-size: 12em;
  font-weight: 600;
  text-align: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emojis{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.emoji{
  font-size: 8em;
  cursor: none;
  align-items: center;
}

.emoji:hover{
  cursor: pointer;
  transition: 0.9s;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

.text-grad{
  background: linear-gradient(90deg, #905960, #241015, #905960);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card{
  margin-top: 8em;
  /*border: 1px solid black; */
  width: 1100px;
  height: 400px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.6);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.message{
  font-size: 4em;
  font-weight: 600;
  color: black;
}

.contents{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
  position: relative;
}


.song-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.song-title{
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
  text-align: center;
  opacity: 1;
}

.song-artists{
  margin: 0;
  font-size: 3em;
  font-weight: 700;
  width: 100%;
  text-align: center;
  opacity: 1;
}

#controls{
  position: absolute;
  bottom: 0%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#change-track{
  display: inline;
}

#track-number{
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

.button:hover{
  cursor: pointer;
  color: rgba(0,0,0,0.7);
}

#credits{
  position: absolute;
  bottom: 0;
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#credit-text{
  margin: 0;
  padding-top: 0.05em;
  font-weight: 500;
}

#credit-text a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}